
.radio-group input[type="radio"] {
  display: none;
} 


 .textarea-wrapper {
  margin-top: 1rem;
 }


 .input-group {
  width: 100%;
  display: block;
 }

 input {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.input-wrapper {
  gap: 1rem;
}


#turn {
  margin-bottom: 0.5rem;
}


.radios-wrapper {
  display: flex;
  align-items: flex-start; /* Alinha ao topo */
  gap: 1rem;
}

 
.radio-group {
  display: flex;
  flex-direction: column; /* Coloca o label acima do input*/
  gap: 0.5rem;
  width: 50%;
}

.radio-inner {
  display: flex;
}

.input-radio {
  display: flex;
  flex-direction: column; /* ajusta na vertical */
  width: 50%;
}


.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}


/* "botões" */
.custom-radio span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  gap: 0.5rem;
  background-color: var(--input-base);
  color: var(--input-placeholder);
  cursor: pointer;
  width: 135px;
  /* max-height: 48px; */
}

/* botões com checked*/
.custom-radio input:checked + span {
  background-color: var(--input-stroke);
  color: var(--text-heading);
  border-radius: .5rem;
  border: 2px solid var(--input-base);
}

.custom-radio img {
  width: 16px;
  height: 16px;
}

.container {
  width: 35rem;
}

.radio-box {
  background-color: var(--input-base);
  padding: 2px 3px;
  border-radius: 8px;
}



 /*  CORES TYPE RADIO */

.colors {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}


input[type="radio"] {
  display: none;
}


.color-label {
  width: 40px;
  height: 40px;
  border: 6px solid var(--shape-button);
  border-radius: 100%;
  cursor: pointer;
}


#color1 + .color-label {
   background-color: #59B2FF; 
  }

#color2 + .color-label {
   background-color: #6A59FF; 
  }

#color3 + .color-label {
   background-color: #B259FF; 
  }

#color4 + .color-label {
   background-color: #FF59F9; 
  }

#color5 + .color-label {
   background-color: #FF598B; 
  }

#color6 + .color-label {
   background-color: #FF5959; 
  }

#color7 + .color-label {
   background-color: #FF8B59; 
  }

#color8 + .color-label {
   background-color: #FFCD59; 
  }

#color9 + .color-label {
   background-color: #E1FF59; 
  }

#color10 + .color-label {
   background-color: #59FF91; 
  }

  #color11 + .color-label {
    background-color: #59FFF9; 
   }


input[type="radio"]:checked + .color-label {
  outline: .15rem solid var(--brand-light);
  outline-offset: .1px;
}

.color-label:hover {
  border: 6px solid var(--shape-hover);
}


/* EVENTOS TYPE RADIO  */


.select-event {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  border-radius: 1rem;
  box-sizing: border-box
}



input[type="radio"] {
  display: none;
}


label img {
  margin-bottom: 8px;
}

input[type="radio"]:checked + label {
  outline: 2px solid var(--brand-light);
  
}

input[type="radio"]:hover + label {
  padding: 4px 4px 8px 4px;
  background-color: var(--shape-hover);

}
.select-event > label {
  padding: 4px 4px 8px 4px;
  background-color: var(--shape-button);
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
  border-radius: 8px;
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: var(--text-heading);
}


.select-event {
  margin-bottom: 1.75rem;
}